@font-face {
  src: url("/assets/YujiSyuku-Regular.woff") format("woff2");
  font-family: "Yuji Syuku", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-bg: white;
  --color-text-header: white;
  --color-text: black;
  --wrapper-height: 100vh;
  --image-max-width: 320px;
  --font-family: "Yuji Syuku", serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: large;
  text-align: center;
  opacity: 1;
  line-height: 1.5;
  margin: 0;
  padding: 1rem;
  overflow-y: auto;
}

/* headings */

.logo {
  width: 20vw;
  margin: 1rem 0;
}

.landing .logo {
  animation: flip 4s ease-in-out infinite;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.logo:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.title {
  font-size: 120%;
  font-weight: bold;
  text-transform: capitalize;
}

/* text bodies */

.content {
  animation: fadeInOpacity 1s 1 ease-in;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 10vw;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.sidebar {
  width: 33%;
}

.main {
  width: 66%;
}

.section {
  margin: 2rem 1rem;
  text-align: left;
}

@media (max-width: 700px) {
  .content {
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    margin: auto;
  }

  .sidebar {
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .project.section {
    text-align: center;
  }
}

/* .sidebar {
  position: sticky;
  top: 0;
} */

/* project images */

/* miscellaneous */

li::marker {
  content: "·  ";
  font-size: 1em;
}

a {
  color: var(--color-text);
  text-decoration: underline;
}

a:hover {
  color: gray;
  transition-duration: 0.2s;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px dashed var(--color-text);
}
