@font-face {
  src: url("/assets/YujiSyuku-Regular.woff") format("woff2");
  font-family: "Yuji Syuku", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-bg: white;
  --color-text-header: white;
  --color-text: black;
  --top-spacing: 2rem;
  --side-spacing: 5vw;
  --font-family: "Yuji Syuku", serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: large;
  text-align: center;
  opacity: 1;
  line-height: 1.5;
  overflow-y: hidden;
}

/* hide scrollbars */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* sidebar: logo, pagination */

#logo {
  width: 100%;
}

.landing #logo {
  animation: flip 4s ease-in-out infinite;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

#logo:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.project #logo {
  width: 50%;
  float: left;
}

#pagination {
  float: right;
  margin: var(--top-spacing) 0 0 0;
  font-size: small;
}

#pagination a {
  text-decoration: none;
}

/* main flex container */

.content {
  animation: fadeInOpacity 1s 1 ease-in;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 var(--side-spacing);
  height: 100vh;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

#main {
  width: 66%;
  padding: var(--top-spacing) 0 0 var(--side-spacing);
  height: 100%;
  overflow-y: auto;
}

.landing #main {
  padding: var(--top-spacing) var(--side-spacing) 0 0;
}

#sidebar {
  width: 33%;
  position: sticky;
  padding: var(--top-spacing) var(--side-spacing) 0 0;
  height: 100%;
  overflow-y: auto;
}

.project #sidebar {
  border-right: 1px dashed var(--color-text);
}

#sidebar .section {
  margin-bottom: 5rem;
}

.section {
  text-align: left;
}

.landing .section {
  margin: var(--top-spacing) 0;
}

.project .section {
  margin: auto;
  clear: both;
}

@media (max-width: 700px) {
  .content {
    width: 90%;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #main {
    width: 100%;
    overflow-y: visible;
    padding: 0 0 5rem 0;
    margin: auto;
  }

  .landing #main {
    margin: auto;
    overflow-y: visible;
    padding: 0 0 5rem 0;
  }

  #logo {
    float: left;
    width: 60%;
  }

  #pagination {
    float: right;
    margin: var(--top-spacing) 1rem 0 0;
  }

  #sidebar {
    width: 100%;
    height: auto;
    position: static;
    padding: var(--top-spacing) 0 0 0;
    overflow-y: visible;
  }

  .project #sidebar {
    border: none;
  }

  #sidebar .section {
    margin: 0;
  }
}

/* image flex containers */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.col > * {
  width: 90%;
  margin: 1rem auto;
}

#row-mobile {
  display: none;
}

@media (max-width: 700px) {
  .row {
    display: none;
  }

  .col {
    display: none;
  }

  #row-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: visible;
  }

  #row-mobile > * {
    width: 100%;
    margin: 1rem auto;
  }
}

/* miscellaneous */

.title {
  font-size: 120%;
  font-weight: bold;
  text-transform: capitalize;
}

li::marker {
  content: "·  ";
  font-size: 1em;
}

a {
  color: var(--color-text);
  text-decoration: underline;
}

a:hover {
  color: gray;
  transition-duration: 0.2s;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px dashed var(--color-text);
}
