---
layout: base.njk
---
<div class="content landing">

    <div id="sidebar">
        <a href="/"><img id="logo" src="{{logo or default.logo}}" alt="drawing of the letter e stylized like an eye"/></a>
    </div>

    <div class="main">
        <div class="section">
            <span class="title">{{bio.name or default.name}}</span>
            {{bio.longDescription}}
            <br>
            <br>
            <a href="{{bio.cv}}"> See CV </a>
            <br>
            <br>
            For general inquiries, please contact: <a href="mailto:{{bio.email}}"> {{bio.email}} </a>
        </div>