---
layout: base.njk
pagination:
  data: projects
  size: 1
  alias: project
permalink: "/{{ project.slug }}/"
---
<div class="content project">

    <div id="sidebar">

        <span id="pagination">
            {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}">⇠ prev</a>
            {% else %}
            <a href="{{ pagination.href.last }}">⇠ prev</a>
            {% endif %}
            |
            {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}">next ⇢</a>
            {% else %}
            <a href="{{ pagination.href.first }}">next ⇢</a>
            {% endif %}
        </span>

        <a href="/"><img id="logo" src="{{logo or default.logo}}" alt="logo of the letter e stylized like an eye"/></a>

        <div class="section">
            <h1>{{project.title}}</h1>
            {{project.description | safe}}
        </div>

    </div> {# sidebar #}
    
    <div class="main">
        {% for image in project.images %}
        <div> 
            <img src="{{image}}">
        </div>
        {% endfor %}
    </div> {# main #}
</div> {# content #}